{% extends "layouts/base.html" %}

{% block content %}
<h1>Books List - Part 2</h1>

<a href="/books/lab9_part2/addbook">Add Book</a>

<hr>

{% for book in books %}
    <p>
        ID: {{ book.id }} |
        Title: {{ book.title }} |
        Author: {{ book.author }} |
        Price: {{ book.price }} |
        Edition: {{ book.edition }}
    </p>

    <a href="/books/lab9_part2/editbook/{{ book.id }}">Edit</a>
    |
    <a href="/books/lab9_part2/deletebook/{{ book.id }}">Delete</a>

    <hr>
{% endfor %}

{% endblock %}